body {
    background-color: #cacaca;
}
.calculator-container {
    font-family: 'Helvetica';
    color:#565656;
}

button {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    margin: .3rem;
    border-radius: 50%;
    border: none;
    background-color: #565656;
    color: #fff;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    background-color: black;
    border-radius: 1rem;
    padding: 2rem;
    font-size: 2rem;
}

.sign-button {
    background-color: #ff9500;
}

.lighter-button {
    background-color: #cacaca;
    color: black;
}

.double-button {
    width: 8.6rem;
    border-radius: 1.9rem;
    justify-content: space-around;
}

.result {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
    padding-top: 2rem;
}